

.text-wrap{
    white-space:normal;
}
.width-200{
    width:400px;
}

.image-cover {
    width: 50px;
    height: 50px;
    /* border-radius: 50%; */
    /* margin: 8px; */
    object-fit: cover;
    object-position: center right;
}

table>tbody>tr>td{
    padding: 10px 18px !important;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
    margin: 8px 8px 8px 0;
    border:0.5px solid;
}


.active {
    background-color: blue;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: green;
    /* text-shadow: 1px 1px 1px #000; */
}

nav ul li {
    list-style: none;
    float: left;
    padding-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    background-color: #ccc;
    padding: 4px 5px;
}

.active {
    background-color: blue;
    color: #fff;

}